.not-found {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.not-found img {
  width: 250px;
}

.not-found__title {
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

.not-found__text {
  width: 50%;
  text-align: center;
  font-size: 1.35rem;
}
