.container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 100%;
  align-content: start;
  gap: 20px;
  padding: 20px;
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  width: 0;
}

.container__title {
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

.container__btn {
  width: calc((100% - 60px) / 4);
  height: 250px;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #ffffff70;
  border: 1px solid #000000;
  border-radius: 20px;
  border: 1px solid #00000080;
  box-shadow: 4px 4px 15px #00000080;
  transition: 0.2s;
  cursor: pointer;
}

.container__btn:hover {
  box-shadow:
    4px 4px 20px #00000090,
    0 0 15px #00000030 inset,
    0 0 10px #72cffa50 inset;
}

.container__btn:disabled {
  color: #00000030;
  border: 1px solid #00000030;
  box-shadow: none;
  cursor: auto;
}

.container__btn:disabled:hover {
  box-shadow: none;
}

.container__favorite-none {
  width: 100%;
  text-align: center;
  height: max-content;
  font-size: 1.7rem;
  padding: 18px;
  border-radius: 50px;
  box-shadow: 0 0 5px #777777;
}
