.layout {
  height: calc(100dvh - 160px);
  display: flex;
  justify-content: center;
  overflow-y: auto;
  padding: 0 20px;
  transition: 0.3s;
}

.layout-light {
  background-color: #ffffff;
}

.layout-dark {
  background-color: #d7d7d7;
}
