.card {
  width: calc((100% - 60px) / 4);
  height: 250px;
  display: flex;
  flex-direction: column;
  border: 1px solid #00000080;
  background-color: #ffffff70;
  box-shadow: 4px 4px 15px #00000080;
  border-radius: 20px;
  gap: 8px;
  padding: 10px 30px;
  position: relative;
  overflow: hidden;
}

.card__bg {
  width: 55%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card__title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  z-index: 1;
}

.card__box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.card__text {
  font-size: 1.35rem;
  z-index: 1;
}

.card__text_gap {
  display: flex;
  gap: 5px;
}

.card__star {
  width: 25px;
}

.card__heart {
  position: absolute;
  right: 30px;
  bottom: 15px;
  width: 30px;
  cursor: pointer;
}
