.header {
  display: flex;
  width: 100%;
  height: 80px;
  box-shadow: 0 0 10px #777777;
  position: relative;
  transition: 0.3s;
  z-index: 10;
}

.header-light {
  background-color: #ffffff;
}

.header-dark {
  background-color: #353535;
}

.header__logo {
  width: 20%;
}

.header__logo img {
  height: 70px;
}

.header__nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

.header__list {
  display: flex;
  gap: 20px;
}

.header__list_end {
  width: 20%;
  justify-content: end;
  position: relative;
  right: 40px;
}

.header__item {
  padding: 5px 10px;
}

.header__item a {
  font-size: 1.2rem;
  transition-duration: 0.2s;
}

.header-light .header__item a {
  color: #000000;
}

.header-dark .header__item a {
  color: #ffffff;
}

.header-light .header__item a.active {
  color: #0a5bf1;
  border-bottom: 1px solid #0a5bf1;
}

.header-dark .header__item a.active {
  color: #acc9ff;
  border-bottom: 1px solid #acc9ff;
}

.header-light .header__item a:hover {
  color: #727272;
  border-bottom: 1px solid #727272;
}

.header-dark .header__item a:hover {
  color: #dadada;
  border-bottom: 1px solid #dadada;
}

.header-light .header__item a.active:hover {
  color: #0a5bf1;
  border-bottom: 1px solid #0a5bf1;
}

.header-dark .header__item a.active:hover {
  color: #acc9ff;
  border-bottom: 1px solid #acc9ff;
}

.header-light .header__item a.header__link {
  color: #000000;
  border-bottom: none;
}

.header-dark .header__item a.header__link {
  color: #ffffff;
  border-bottom: none;
}

.header-light .header__item a.header__link:hover {
  color: #727272;
  border-bottom: 1px solid #727272;
}

.header-dark .header__item a.header__link:hover {
  color: #dadada;
  border-bottom: 1px solid #dadada;
}

.header-light .header__item a.header__item-no-color {
  color: #d6d6d6;
  border: none;
  cursor: default;
  position: relative;
}

.header-light .header__item a.header__item-no-color:hover {
  color: #d6d6d6;
  border: none;
}

.header-dark .header__item a.header__item-no-color {
  color: #656565;
  border: none;
  cursor: default;
  position: relative;
}

.header-dark .header__item a.header__item-no-color:hover {
  color: #656565;
  border: none;
}

.header-light .header__item a.header__item-no-color:hover::before,
.header-dark .header__item a.header__item-no-color:hover::before {
  content: "Only authorized users";
  position: absolute;
  background-color: rgb(218, 238, 255);
  color: #000000;
  width: max-content;
  padding: 8px 15px;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% + 10px);
}

.header-light .header__item a.header__item-no-color:hover::after,
.header-dark .header__item a.header__item-no-color:hover::after {
  content: "";
  position: absolute;
  background-color: rgb(218, 238, 255);
  width: 20px;
  height: 20px;
  left: 50%;
  top: calc(100% + 5px);
  transform: translateX(-50%) rotate(45deg);
  z-index: -1;
}

.header__theme {
  width: 30px;
  margin-right: 20px;
  cursor: pointer;
  position: absolute;
  right: 0;
}
